body{
	
}
a{
	color:#FFFF99;
}
.bg-div{
/*    background: url('images/2.jpg') center no-repeat;
    -moz-background-size:100% 100%; 
    background-size:100% 100%;*/
/*    background-color: #66CCCC;*/
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.forecast-frame{
	/*filter:alpha(opacity=60);
  	 CSS3 standard 
  	opacity:0.6;*/
	border-radius:5px;
	width:100%;
	height:500px;
	border-color: #3399FF;
}
.forecast-container{
	top:20px;
	position: relative;
}
.forecast-nav{
	
}
.forecast-title{
	position: relative;
	left:12px;
	font-size: 20px;
	color: #ffffff;
}
.navbar-default .navbar-brand{
	color: white;
}

.navbar-default{
	background-color: #000066;
	border-color: #000066;
}