<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>地区</title>
</head>
<body>
<ul type="disc">
    <li>A
        <ul type="disc">
            <li><a href="show.html?cityName=安徽" target="iframe_a">安徽</a></li>
        </ul>
    </li>
    <li>B
        <ul type="disc">
            <li><a href="show.html?cityName=北京" target="iframe_a">北京</a></li>.
        </ul>
    </li>
    <li>H
        <ul type="disc">
            <li><a href="show.html?cityName=黑龙江" target="iframe_a">黑龙江</a></li>
            <li><a href="show.html?cityName=河南" target="iframe_a">河南</a></li>
        </ul>
    </li>
    <li>J
        <ul type="disc">
            <li><a href="show.html?cityName=江苏" target="iframe_a">江苏</a></li>
            <li><a href="show.html?cityName=吉林" target="iframe_a">吉林</a></li>
        </ul>
    </li>
    <li>L
        <ul type="disc">
            <li><a href="show.html?cityName=辽宁" target="iframe_a">辽宁</a></li>
        </ul>
    </li>
    <li>N
        <ul type="disc">
            <li><a href="show.html?cityName=内蒙古" target="iframe_a">内蒙古</a></li>
            <li><a href="show.html?city=宁夏" target="iframe_a">宁夏</a></li>
        </ul>
    </li>
    <li>S
        <ul type="disc">
            <li><a href="show.html?cityName=陕西" target="iframe_a">陕西</a></li>
            <li><a href="show.html?cityName=山东" target="iframe_a">山东</a></li>
            <li><a href="show.html?cityName=山西" target="iframe_a">山西</a></li>
        </ul>
    </li>
    <li>T
        <ul type="disc">
            <li><a href="show.html?cityNmae=天津" target="iframe_a">天津</a></li>
        </ul>
    </li>
    <li>X
        <ul type="disc">
            <li><a href="show.html?cityName=新疆" target="iframe_a">新疆</a></li>
        </ul>
    </li>
</ul>


</body>
</html>