<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8">

    <title>数据显示</title>

</head>

<body>
<div align="center">
    <!-- 显示后台数据的表格 -->
    <table id="mainTable" class="display hover" border="1">
        <thead>
        <tr>
            <th>
                index
            </th>
            <th>
                cityName
            </th>
            <th>
                stationIndex
            </th>
            <th>
                year
            </th>
            <th>
                Area
            </th>
            <th>
                Preciptation
            </th>
            <th>
                totalPre
            </th>
            <th>
                Comparing
            </th>
            <th>
                level
            </th>
        </tr>
        </thead>
        <tbody id="da">
        </tbody>
    </table>
</div>

<script src="{% static '/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static '/js/region.js' %}"></script>

</body>
</html>