<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8">

    <title>数据显示</title>

</head>

<body>
<div align="center">
    <!-- 显示后台数据的表格 -->
    <table id="mainTable" class="display hover" border="1">
        <thead>
        <tr>
            <th>
                index
            </th>
            <th>
                cityName
            </th>
            <th>
                stationIndex
            </th>
            <th>
                year
            </th>
            <th>
                Area
            </th>
            <th>
                Preciptation
            </th>
            <th>
                totalPre
            </th>
        </tr>
        </thead>
        <tbody id="drought">
        <tr id="content" class="example">
            <td id="index">

            </td>
            <td id="cityName">

            </td>
            <td id="stationIndex">

            </td>
            <td id="year">

            </td>
            <td id="Area">

            </td>
            <td id="Preciptation">

            </td>
            <td id="totalPre">

            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="../jquery-3.2.1.min.js"></script>
<script src="region.js"></script>
</body>
</html>